button {
    font-size: 18px;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
    background: rgb(42, 240, 85);
     cursor: pointer;
     
     
   }

.center {
    text-align: center;
}

.btn1{
    box-shadow: none !important;
    background-color: white !important;
    color: orangered !important;
    border: 1px solid orangered !important;
}

.btn2{

    color: orangered;
    
}


.bs1{
    box-shadow:rgba(14,30,37,0.12) 0px 2px 4px 0px, rgba(14,30,37,0.32) 0px 2px 16px 0px;

  }
.carimg{
    height: 350px;
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 30px;
}

.bgtest{
    background-color: blue;
}