  button {
    font-size: 18px;
    color: rgb(255, 255, 255);
    height: 65px;
    width: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
    background: rgb(255, 0, 0);
     cursor: pointer;
     
     
   }

.right{
    float: right;
}
